body.admin-dashboard {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #373a3c;
    font-weight: 400;
    background: #5a5c69 !important;
    position: relative;
}

.header-inner.header-1 {
    position: relative;
    z-index: 9;
    width: 100%;
}

.main-menu .container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.about-us .max-w-3xl {
    width: 1556px;
    max-width: 100%;
}

.main-menu nav a:hover {
    color: #069b33;
}

.header-1 .topbar {
    color: #636363;
}

.header-1 .topbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    font-size: 14px;
}

.bg-theme {
    background: #069b33;
}

.header-1 .full-view-switch, .header-2 .full-view-switch, .header-3 .full-view-switch {
    position: relative;
    display: block;
}

.about-us .font-semibold {
    color: #069B33;
}
.profile-button {
    margin-top: 15px;
    text-align: center;
}
.profile-button a {
    width: 100%;
    display: block;
}
.notif-number {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: .25rem;
    margin-top: -.25rem;
}
.basic-container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
    position: relative;
    width: 100%;
}

.sticky-outer {
    height: auto;
    position: relative;
}

/* .pull-left {
    float: left;
} */

ul:last-child, ol li:last-child {
    margin-bottom: 0px;
}

.pull-right {
    float: right;
}

.pad-none {
    padding: 0;
}
/* .content-wrapper {
    padding: 75px 0;
    background: #fff;
} */

.pad-bottom-60 {
    padding-bottom: 60px;
}
.pad-top-70 {
    padding-top: 70px;
}
.section-bg-img, .div-bg-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.bg-fixed {
    background-attachment: fixed;
}
section {
    overflow: hidden;
}
section {
    padding: 100px 0;
}
section, .relative {
    position: relative;
}

.bg-overlay.pattern {
    background: url(../images/pattern.png);
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 1.7rem;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex
;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

#section-banner {
    background-image: url('@/images/bg-2.jpg'); /* Correct path to image */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}
.dash-logo img {
    display: block;
    margin: auto
}
.title-wrap.margin-bottom-30 {
    color: #ffffff;
}

.section-title h1 {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

.section-left {
    width: 1000px;
    max-width: 100%;
}

.section-right {
    width: 536px;
    max-width: 100%;
}

.section-left p {
    font-size: 1.5em;
    line-height: normal;
    padding-bottom: 1em;
}

.section-left h4 {
    font-size: 1.5em;
    font-weight: bold;
}

.section-left ul li {
    font-size: 1.25em;
}

.about-wrap {
    position: relative;
    width: 100%; /* Adjust this as per your container's requirements */
    height: 45vh; /* Adjust this based on the desired container height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.become-member {
    display: flex;
    margin-top: 20px;
}

.become-member a, .login-front {
    background: #069B33;
    color: #ffffff;
}

.login-front:hover {
    background: #20be50;
    color: #ffffff !important;
}

.registration {
    background: #f7f7f7;
}

.center-reg {
    margin: auto;
}

.registration .col-12 h3 {
    padding: 0 15px;
}

.registration .col-12 {
    padding: 10px 0;
}

.py-3.py-md-5.register-main {
    padding: 0 !important;
}

.sidebar {
    height: 100vh;
    /* position: fixed; */
    background:#5a5c69;
    width: 250px;
    padding: 1rem !important;

    display: block;
    z-index: 1028;
    position: absolute;
    box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3);
    transition: all 0.3s ease-in-out;
    width: 230px;
    height: calc(100% - 50px);
    border-radius: 0 6px 0 0;
    top: 0;
    color: #97a7c1;
}
.sidebar .nav-link {
    color: #ffffff;
}
.nav-link:focus, .nav-link:hover {
    color: #1cc88a !important;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
    border: none !important;
}
.card-header:first-child {
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
}
.main-content {
    margin-left: 250px !important;
    padding: 20px;
}
.alert.alert-success {
    margin: 0;
}
.chart-details {
    float: left;
    text-align: left !important;
}
.sidebar p {
    margin: 0;
}
.sidebar .nav-link.active {
    color: #1cc88a;
    font-weight: bold;
}
.content-admin {
    padding: 1.5em !important;
}

.new-members-table {
    width: 100%;
    border-collapse: collapse;
}

.new-members-table tr {
    vertical-align: middle;
}

.admin-main-content {
    float: left;
    width: 1620px;
    max-width: 100%;
    padding: 1em;
}

.row.admin-content {
    max-width: 100%;
}

.content-main-admin {
    padding: 0 !important;
    background: #f3f3f3;

    background: #ecf0f5;
    position: relative;
    margin: 0 auto;
    padding-top: 0;
    display: block;
    clear: both;
    float: unset;
    right: 0;
    top: 0;
    margin-left: 230px;
    min-height: 100vh;
    transition: all 0.3s ease-in-out;
}

.collapse {
    visibility: unset;
}

.profile-photo img {
    width: 180px;
}

.profile-photo {
    padding: 8px;
    border: 1px solid;
}

section.profile-cont {
    padding: 0;
}

.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    opacity: 1;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.fixed_height_320 {
    height: 320px;
}

.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.x_title h2 {
    margin: 5px 0 6px;
    /* float: left; */
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
}

.footer {
    background: #f7f7f7;
}

.footer footer {
    padding: 20px 0;
}